<button class="btn btn-danger" {{action "launchConfirmDialog"}}><span class="fa fa-trash-o"></span> {{text}}</button>
{{#if confirmShown}}
  <div class="confirm-dialog">
    <button class="btn btn-danger confirm-submit" {{action 'deleteMenuConfirm'}}>OK</button>
    <button class="btn btn-primary confirm-cancel" {{action 'cancelConfirm'}}>Cancel</button>
  </div>
{{/if}}
