{{#link-to 'menu' menu}} <h3 class="menu-title">{{menu.title}}</h3>{{/link-to}}
<h4 class="menu-notes">{{menu.notes}}</h4>
{{menu-title/update-menu text='Edit Menu' menu=menu updateMenu='updateMenu'}}
