body {
  font-family: 'Lato', helvetica, sans-serif;
  padding-top: 60px;
  background-color: #317cfc;
  color: #e7e7e7;
};

.welcome-box {
    background-color: #317cfc;
}
.top-bottom {
  height: 20px;
}

input {
  margin: 5px;
}

.confirm-dialog {
  margin: 5px;
}

button {
  margin: 5px;
}

.introduction-text {
  border: 1px solid #e7e7e7;
  padding: 30px 40px;
  margin: 30px;
  line-height: 2.0;
}

.introduction-text h4 {
  font-weight: 300;
  line-height: 1.5;
}
.introduction-text a {
  color: #aac5fb;
}

.introduction-text a:hover {
  color: #e7e7e7;
  font-weight: 400;
}
label {
  text-transform: uppercase;
};

button {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
};

.items {
  border: dashed 1px;
  padding: 15px;
  margin: 5px;
}

.menu-item {
  border: dashed 1px #e7e7e7;
  padding: 15px;
  margin: 5px;
  border-radius: 25px;
}

.menu-title {
  text-transform: uppercase;
  padding: 5px;
  background-color: #e7e7e7;
  color: #317cfc;
  text-align: center;
  border-radius: 25px;
}
.menu-title:hover {
  background-color: #FFF;
}

.menu-notes {
  text-align: center;
}
a {
  color: #e7e7e7;
}
a:hover {
  text-decoration: none;
}

.item-name {
  text-transform: uppercase;
};

.food-category {
  text-align: center;
}

.food-name {
  font-weight: 300;
  text-align: center;
}

.delete-item-button {
  text-align: right;
}
