body {
  font-family: 'Lato', helvetica, sans-serif;
  padding-top: 60px;
};

.welcome-box {
  margin-top: 100px;
}
// .navbar{
//   background-color: rgb(144, 188, 240);
// };

// .image-box {
//   height: 500px;
//   background-image: url(https://i.imgur.com/aUnknzZ.jpg);
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
//   background-size: cover;
// };
input {
  margin: 5px;
}
.confirm-dialog {
  margin: 5px;
}
button {
  margin: 5px;
}
.introduction-text {
  background-color: rgba(201, 196, 212, 0.5);
  padding: 30px 40px;
}
label {
  text-transform: uppercase;
};

button {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
};

.items {
  border: dashed 1px;
  padding: 15px;
  margin: 5px;
}

.menu-title {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.item-name {
  text-transform: uppercase;
};
