<div class="container welcome-box">
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-sm-auto image-box">
      <div class="introduction-text">
        <h2 class="welcome-index">Welcome to eWaitr</h2>
        <p class="introduction">If you are a restaurant owner, please {{#link-to 'sign-in'}}sign in{{/link-to}} to see your menus.</p>
        <p class="introduction">If you do not have an account, {{#link-to 'sign-up'}}sign up{{/link-to}} now and create your menu! Your customers could be ordering their food right now without a waiter</p>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
