<h2>{{model.title}}</h2>
{{menu-item-create-form menu=model createMenuItem='createMenuItem'}}
<div>
  {{#each model.menuItems as |item|}}
    {{menu-items item=item}}
  {{/each}}
</div>

{{button-with-confirmation text="Delete Menu"}}

<br>{{#link-to 'menus'}}Back to Menus{{/link-to}}
