<h2>{{model.title}}</h2>
{{menu-item-create-form menu=model createMenuItem='createMenuItem'}}
<div>
  {{#each model.menuItems as |item|}}
    {{menu-items item=item deleteItem='deleteItem' updateMenuItem='updateMenuItem'}}
  {{/each}}
</div>

{{button-with-confirmation menu=model text="Delete This Menu" deleteMenuConfirm='deleteMenu'}}

<br>{{#link-to 'menus'}}Back to Menus{{/link-to}}
